<section class="container py-5">

    <h2 class="fw-bold mb-4">Checkout</h2>

    @if (loading) {

        <div class="text-center py-5">
            <div class="spinner-border text-warning"></div>
        </div>

    }

    @else {

        <div class="row">

            <!-- Products -->

            <div class="col-lg-8">

                <div class="card shadow-sm border-0">

                    <div class="card-header bg-white">
                        <h4 class="mb-0">Order Summary</h4>
                    </div>

                    <div class="card-body">

                        @for (item of cart.items; track item.product._id) {

                            <div class="row align-items-center mb-4">

                                <div class="col-md-2">

                                    <img
                                        [src]="'http://localhost:2005/uploads/products/' + item.product.image"
                                        class="img-fluid rounded">

                                </div>

                                <div class="col-md-5">

                                    <h5 class="mb-1">
                                        {{ item.product.name }}
                                    </h5>

                                    <small class="text-muted">
                                        {{ item.product.brand }}
                                    </small>

                                </div>

                                <div class="col-md-2 text-center">

                                    x{{ item.quantity }}

                                </div>

                                <div class="col-md-3 text-end">

                                    <strong>

                                        {{ item.product.price * item.quantity | number }}

                                        EGP

                                    </strong>

                                </div>

                            </div>

                            <hr>

                        }

                    </div>

                </div>

            </div>

            <!-- Payment -->

            <div class="col-lg-4">

                <div class="card payment-card">

                    <div class="card-body">

                        <h4 class="payment-title">
                            Payment Summary
                        </h4>

                        <div class="summary-row">

                            <span>Subtotal</span>

                            <strong>

                                {{ totalPrice | number }}

                                EGP

                            </strong>

                        </div>

                        <div class="d-flex justify-content-between mb-3">

                            <span>Shipping</span>

                            <span class="text-success">
                                Free
                            </span>

                        </div>

                        <hr>

                        <div class="d-flex justify-content-between mb-4">

                            <h5>Total</h5>

                            <h5 class="total">

                                {{ totalPrice | number }}

                                EGP

                            </h5>

                        </div>

                        <button
                            class="checkout-btn"
                            (click)="placeOrder()" routerLink="/my-orders">

                            Place Order

                        </button>

                    </div>

                </div>

            </div>

        </div>

    }

</section>
