<div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">

    <div class="carousel-inner">

        <div class="carousel-item active">

            <img src="assets/hero1.jfif" class="d-block w-100 hero-image" alt="">

            <div class="carousel-caption">

                <h1>Premium Shopping Experience</h1>

                <p>
                    Discover thousands of premium products at unbeatable prices.
                </p>

                <button class="btn btn-warning btn-lg" routerLink="/products">
                    Shop Now
                </button>

            </div>

        </div>

        <div class="carousel-item">

            <img src="assets/hero2.jfif" class="d-block w-100 hero-image" alt="">

            <div class="carousel-caption">

                <h1>Summer Collection</h1>

                <p>
                    New arrivals are waiting for you.
                </p>

                <button class="btn btn-primary btn-lg" routerLink="/products">
                    Explore
                </button>

            </div>

        </div>


        <div class="carousel-item">

            <img src="assets/hero3.jfif" class="d-block w-100 hero-image" alt="">

            <div class="carousel-caption">

                <h1>Best Deals Every Day</h1>

                <p>
                    Shop smarter with amazing discounts.
                </p>

                <button class="btn btn-success btn-lg" routerLink="/products">
                    View Products
                </button>

            </div>

        </div>

    </div>

    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide="prev">

        <span class="carousel-control-prev-icon"></span>

    </button>

    <button class="carousel-control-next"
            type="button"
            data-bs-target="#heroCarousel"
            data-bs-slide="next">

        <span class="carousel-control-next-icon"></span>

    </button>

</div>
